.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fcfcfc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    display: flex;
    gap: 20px;
  }

  .navbar-left>p{
    font-size: 20px;
    font-weight: 500;
  }
  
  .navbar-item {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .username {
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  
  .profile-photo {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .auth-buttons {
    display: flex;
    gap: 15px;
  }
  
  .navbar-button {
    text-decoration: none;
    color: #fff;
    background-color: #28a745;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .navbar-button:hover {
    background-color: #109930;
  }
  
  .active{
    border-bottom: #28a745 solid 4px;
    padding-bottom: 5px;
  }

  .user-info {
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .profile-photo {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .profile-card {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    z-index: 100;
    border-radius: 8px;
    animation: slideIn 0.3s ease-in-out;
  }
  
  .profile-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-card p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .logoutbtn{
    border: transparent;
    background-color: #28a745;
    padding: 5px;
    width: 100%;
    color: white;
  }

  .logoutbtn:active{
    background-color: #16a437;
  }